.metaData {
  padding: 0.8rem;
  background-color: #fff;
  border-bottom: 1px solid red;

  h1 {
    font-size: 1rem;
    margin-top: 0;

    @media screen and (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  p {
    font-size: 0.8rem;
  }
}