@use "../../styles/global.module";

@import "../../styles/variables.scss";



.headerContainer {
  @extend .globalContainer;

  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.logo {
  height: 1.6rem;

  @media screen and (min-width: $tablet) {
    height: 5vh;
  }
}