@import "../../styles/variables.scss";

.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;

  @media screen and (min-width: $tablet) {
    margin: 0 16px;
  }
}